html {
  border-top: 2px solid #c9cacc;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {

  color: #c9cacc;
  background-color: #1d1f21;
  font-size: 14px;
  font-family: "Menlo", "Meslo LG", monospace;
  font-weight: 400;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1{
  font-size: 25px;
  padding: 0px;
  margin-left: 4px;
  text-align: center;
  color: white;
}

.head a{
  text-decoration: none;
  color: #2196f3;
  text-align: center;
}

.head a:hover{
  color: #ffc107;
  text-decoration:line-through;
}

.head{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
}


#icon{
  width: 135px;
  height: 135px;
  padding: 5px;
  margin-top: 10px;
}

#title{
  font-size: 50px;
  padding: 0px;
  margin: 0px;
  color: white;
}
#title a{
  font-size: 50px;
  padding: 0px;
  margin: 0px;
  color: white;
  text-decoration: none;
  text-align: center;
}
#title a:hover{
  color: #ffc107;

}

.section{

}
