html {
  height: 100%;
  border-top: 2px solid #c9cacc;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  width: 100%;
  color: #c9cacc;
  background-color: #1d1f21;
  font-size: 14px;
  font-family: "Menlo", "Meslo LG", monospace;
  font-weight: 400;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.nav{
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;

  list-style-type: '|';
  font-size: 20px;
  width: 100%;

}
.nav a {
  text-decoration: none;
  color: white;
  margin-left: 7px;

}
.nav a:hover {
  text-decoration: line-through;
  color: green;
}
.head a{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 50px;
  text-decoration: none;
  color: darkgray;
}

.head{
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  font-size: 50px;
}

.head a:hover{
  color: green;
}
#icon{
  width: 80px;
  height: 80px;
}
.article{

}
