html {
  border-top: 2px solid #c9cacc;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #c9cacc;
  background-color: #1d1f21;
  font-family: "Menlo", "Meslo LG", monospace;
  font-weight: 400;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
h1 {
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

a {
  color: #c9cacc;
  text-decoration: underline;
  text-decoration-color: #2bbc8a;
  text-underline-offset: 5px;
}
a:hover {
  color: #2bbc8a;
}

.head a {
  text-decoration: none;
  color: #2bbc8a;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  height: 130px;
}

.head_grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  margin-top: 50px;
}

.head a:hover {
  color: #ffc107;
  text-decoration: line-through;
}

.head {
  display: flex;
  justify-content: start;
  flex-flow: row;
  flex-wrap: nowrap;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}

.head_col {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.nav {
  color: #c9cacc;
  width: 650px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 30px;
}

.nav a {
  text-decoration: none;
  color: #c9cacc;
  font-size: 18px;
}
.nav a:hover {
  color: #2bbc8a;
}
.nav h1 {
  text-decoration: none;
  font-size: 25px;
  margin-top: 2rem;
  color: #2bbc8a;
  text-align: left;
}

.nav h1 a {
  text-decoration: none;
  font-size: 25px;
  color: #2bbc8a;
  text-align: left;
}

.nav h1 a:hover {
  color: #c9cacc;
}

.nav_col1 {
  width: 132px;
  display: flex;
  flex-flow: column;
  justify-content: left;
}
.nav_col2 {
  display: flex;
  flex-flow: column;
  justify-content: left;
}

.nav_row {
  margin-bottom: 2px;

  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: left;
}
.nav_row2 {
  margin-bottom: 5px;
  border-bottom: 0.5px solid #555;
  border-top: 0.5px solid #555;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav ol a:hover {
  list-style: none;
  color: #2bbc8a;
}
.nav ol {
  list-style-type: disclosure-closed;
  color: #c9cacc;
}
.nav .nav_row .nav_col1 time {
  font-size: 18px;
  color: #6e6e6e;
  vertical-align: baseline;
}

#icon {
  width: 150px;
  height: 150px;
  padding: 5px;
  margin-top: 10px;
}

#title a {
  text-decoration: none;
  font-size: 50px;
  color: white;
  text-align: center;
}
#title a:hover {
  color: #ffc107;
}

.section {
  color: #c9cacc;
  width: 650px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 30px;
}
.section table {
  margin-left: 25px;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}
.section td {
  font-size: 18px;
  text-align: justify;
  vertical-align: middle;
  color: #c9cacc;
}
.section td a:hover {
  color: #c9cacc;
}
.section ul {
  list-style: none;
}

.section img {
  width: 475px;
}
.section time {
  font-size: 16px;
  color: #7e7e7e;
  vertical-align: baseline;
}
.section b {
  color: #2bbc8a;
}

.section .page_nav ol {
  font-size: 15px;
  display: flex;
  flex-direction: column-reverse;
  list-style-type: decimal;
  color: #c9cacc;
}
.section .page_nav ol a {
  font-size: 15px;
  color: #c9cacc;
}
.section .page_nav ol a:hover {
  color: #2bbc8a;
}

.section h1 {
  text-decoration: none;
  font-size: 25px;
  margin-top: 2rem;
  color: #2bbc8a;
  text-align: left;
}

.section h1 a {
  text-decoration: none;
  font-size: 25px;
  margin-top: 2rem;
  color: #2bbc8a;
  text-align: left;
}

.section h1 a:hover {
  color: #c9cacc;
}

.section h2 {
  font-size: 20px;
  margin-top: 2rem;
  color: #2bbc8a;
  display: block;
  text-align: left;
}

.section canvas {
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background: gray;
}
.section ol {
  list-style-type: disclosure-closed;
  color: #c9cacc;
}
#searchBox {
  text-align: center;
  font-size: 20px;
}
.link_dump {
  font-size: 16px;
  color: #c9cacc;
  margin-top: 50px;
}
.link_dump ol {
  list-style: none;
}
.link_dump li {
  margin-bottom: 25px;
}
.link_dump a {
  font-size: 18px;
  color: #c9cacc;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #2bbc8a;
}

.link_dump a:hover {
  color: #2bbc8a;
}
.link_dump img {
  width: 22px;
  vertical-align: -5px;
}
.link_dump i {
  color: #888;
}

.code {
  margin-top: 20px;
  background-color: #333;
  border: 4px #c1c1c1;
  border-style: dashed solid;
  padding: 5px 15px 5px 15px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.browser a {
  text-align: center;
  color: #c9cacc;
  font-size: 18px;
  text-decoration: none;
  background-color: #333;
  padding: 4px 4px;
  border-radius: 5px;
}

.browser a:hover {
  background-color: #666;
  text-decoration: none;
  color: inherit;
}

.articles {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-content: flex-start;
  font-size: 16px;
  color: #c9cacc;
  text-align: left;
  word-spacing: 0px;
}
.article {
  border-bottom: 1px solid #969696;
  border-top: 1px solid #969696;
  padding: 20px;
}

.article a {
  color: #c9cacc;
  text-decoration: underline;
  text-decoration-color: #2bbc8a;
  text-underline-offset: 5px;
  font-size: inherit;
}
.about a {
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #2bbc8a;
  font-size: 20px;
  color: #c9cacc;
  text-align: left;
}
.about a:hover {
  color: #2bbc8a;
}
.about {
  font-size: 20px;
  position: relative;
  margin-top: 2rem;
  color: #c9cacc;
  display: block;
  text-align: left;
  text-decoration: none;
}

.log ol {
  list-style: none;
  display: flex;
  flex-direction: column-reverse;
}

.log li {
  margin-bottom: 25px;
}

.log p {
  margin-left: 25px;
}
.tiles {
  width: 1100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.tiles img {
  width: 250px;
  vertical-align: -10px;
}
.tiles img:hover {
  margin-top: -15px;
  margin-bottom: 15px;
}
.tiles a {
  text-align: center;
}

.rating {
  margin-top: 10px;
  margin-left: 25px;
}
.log button {
  margin-bottom: 20px;
}
details {
  text-align: left;
  font-size: 16px;
}
summary {
  font-size: 16px;
  color: #c9cacc;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  list-style: none;
  padding: 5px 0px 10px 10px;
}
summary:hover {
  background-color: #444;
}
summary ins {
  text-decoration: underline;
  font-size: 18px;
  text-decoration-color: #2bbc8a;
  text-underline-offset: 5px;
}

summary p {
  margin-left: 10px;
}

footer {
  width: 100%;
  background-color: #333;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  margin-top: 30px;
  padding-top: 10px;
}

.footer a {
  text-decoration: none;
  color: #2bbc8a;
}

.footer_text {
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  display: block;
  font-size: 15px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  color: #c9cacc;
  width: 650px;
  height: 40px;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 8px;
}

#cc {
  width: 40px;
  display: flex;
}

#beaker {
  width: 40px;
  margin-top: 10px;
  margin-left: 3px;
}

#git {
  width: 36px;
  margin-top: 10px;
  margin-left: 10px;
}

#neo {
  width: 47px;
  margin-top: 12px;
  margin-left: 12px;
}

#c {
  display: block;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
#models_show {
  display: block;
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

#answer {
  visibility: hidden;
}

#quiz {
  visibility: hidden;
}

#show_answer {
  visibility: hidden;
}

button {
  font-family: "Menlo", "Meslo LG", monospace;
  font-size: 16px;
  text-align: center;
  color: #c9cacc;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 8px;
}

select {
  font-family: "Menlo", "Meslo LG", monospace;
  font-size: 16px;
  text-align: center;
  color: #c9cacc;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 8px;
}
button:hover {
  background-color: #666;
}
.pixel_art {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}
.pixel_art figure img {
  width: 200px;
}
#blocked {
  width: 300px;
  margin: 10px auto 20px;
  display: block;
}
#locked {
  text-align: center;
}

@media screen and (max-width: 650px) {
  .link_dump {
    column-count: 1;
  }
  .about {
    text-align: center;
  }
  .nav .about a {
    font-size: 20px;
  }
  .head_grid {
    grid-template-columns: auto;
    text-align: center;
  }
  .head {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .section {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
  }
  .section .articles .article ul {
    list-style: none;
    padding-left: 0;
  }
  .section .articles .article figure {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .nav {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
  }
  #models_show {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .nav {
    font-size: 16px;
  }
  .nav a {
    font-size: 16px;
  }
  .nav h1 a {
    font-size: 22px;
    text-align: center;
  }
  .nav_row {
    border-bottom: 0.5px solid #555;
    border-top: 0.5px solid #555;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .nav_row2 {
    justify-content: left;
  }
  .section b {
    font-size: 16px;
  }
  .section img {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .section canvas {
    width: 97%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background: gray;
  }
  .buttons {
    display: flex;
    text-align: center;
    font-size: 22px;
  }
  .passcode {
    width: 97%;
    background-color: #c9cacc;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: none;
    height: 30px;
  }
  .footer {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer_text {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .tiles {
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto;
  }
}
