html {
  border-top: 2px solid #c9cacc;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


body {
  color: #c9cacc;
  background-color: #1d1f21;
  font-family: "Menlo", "Meslo LG", monospace;
  font-weight: 400;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
h1{
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.head a{
  text-decoration: none;
  color: #2bbc8a;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  height: 130px;
}

.head_grid{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  margin-top: 50px;
}

.head a:hover{
  color: #ffc107;
  text-decoration:line-through;

}

.head{
  display: flex;
  justify-content: start;
  flex-flow: row;
  flex-wrap: nowrap;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}

.head_col{
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}


  .nav{
  color: #c9cacc;
  width: 650px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 30px;
}

.nav a{
  text-decoration: none;
  color: #2bbc8a;
  font-size: 18px;
}
.nav h1{
  text-decoration: none;
  font-size: 25px;
  margin-top: 2rem;
  color: #2bbc8a;
  text-align: left;
}

.nav h1 a{
  text-decoration: none;
  font-size: 25px;
  color: #2bbc8a;
  text-align: left;
}

.nav h1 a:hover{
  color: #c9cacc;
}

.nav a:hover{
  color: #c9cacc;
}
.nav_col1{
  width: 132px;
  display: flex;
  flex-flow: column;
  justify-content: left;
}
.nav_col2{
  
  display: flex;
  flex-flow: column;
  justify-content: left;
}

.nav_row{
  margin-bottom: 2px;

  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: left;
}
.nav_row2{
  margin-bottom: 5px;
  border-bottom: 0.5px solid #555;
  border-top: 0.5px solid #555;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav ol a:hover{
  list-style: none;
  color: #c9cacc;
}
.nav ol{
  list-style-type: disclosure-closed;
  color: #c9cacc;
}
.nav .nav_row .nav_col1 time{
  font-size: 18px;
  color: #6e6e6e;
  vertical-align: baseline;
}

#icon{
  width: 150px;
  height: 150px;
  padding: 5px;
  margin-top: 10px;
}

#title a{
  text-decoration: none;
  font-size: 50px;
  color: white;
  text-align: center;
}
#title a:hover{
  color: #ffc107;
}

.section{
  color: #c9cacc;
  width: 650px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 30px;

}
.section table{
  margin-left: 25px;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;

}
.section td{
  font-size: 18px;
  text-align:justify;
  vertical-align: middle;
  color:#c9cacc;
}
.section a{
  text-decoration: none;
  color: #2bbc8a;
  font-size: 18px;
}
.section a:hover{
  color:#c9cacc;
}

.section td a:hover{
  color: #c9cacc;
}
.section ul{
  list-style: none;
}

.section img{
  width: 475px;
}
.section time{
  font-size: 16px;
  color: #6e6e6e;
  vertical-align: baseline;
}
.section b{
  color: #2bbc8a;
}

.section .page_nav ol{
  font-size: 15px;
  display: flex;
  flex-direction: column-reverse;
  list-style-type: decimal;
  color: #c9cacc;
}
.section .page_nav ol a{
  font-size: 15px;
  color: #c9cacc;
    
}
.section .page_nav ol a:hover{
  color:#2bbc8a;
}

.section h1{
  text-decoration: none;
  font-size: 25px;
  margin-top: 2rem;
  color: #2bbc8a;
  text-align: left;
}

.section h1 a{
  text-decoration: none;
  font-size: 25px;
  margin-top: 2rem;
  color: #2bbc8a;
  text-align: left;
}

.section h1 a:hover{
  color: #c9cacc;
}

.section h2{
  font-size: 20px;
  margin-top: 2rem;
  color: #2bbc8a;
  display: block;
  text-align: left;
}

.section canvas{
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background: gray;
}
.section ol{
  list-style-type: disclosure-closed;
  color: #c9cacc;
}

.link_dump{
  font-size: 16px;
  color: #c9cacc;
  background-color: #333;
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #969696

}
.link_dump a{
  font-size: 18px;
  color: #2bbc8a;
  text-decoration: none;
  
}
.link_dump a:hover{
  color: #c9cacc;
}
.link_dump img{
  width: 22px;
  vertical-align: -5px;
}
.code {
  font: courier;
  background-color: #333;
  padding: 2px;
  color: #c9cacc;
}

.browser a{
  text-align: center;
  color: #c9cacc;
  font-size: 18px;
  text-decoration: none;
  background-color: #333;
  padding: 4px 4px;
  border-radius: 5px;
}

.browser a:hover {
  background-color: #666;
  text-decoration: none;
  color: inherit;
}
.pagination {
  display: block;
  text-align: center;
  color: #c9cacc;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  margin-top: 15px;
}

.pagination a {
  color: #eee;
  padding: 4px 6px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #333;
  font-size: 15px;
}
.pagination a:hover {
  background-color: #666;

}
.articles{
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-content: flex-start;
  font-size: 16px;
  color: #c9cacc;
  text-align: justify;
  word-spacing: 0px;
}
.article{
  border-bottom: 1px solid #969696;
  border-top: 1px solid #969696;
  padding:20px;
}

.article a{
  color: inherit;
  text-decoration: underline;
  font-size: inherit;
}
.about a{
  text-decoration: underline;
  font-size: 20px;
  color: #c9cacc;
  text-align: left;
}
.about {
  font-size: 20px;
  position: relative;
  margin-top: 2rem;
  color: #c9cacc;
  display: block;
  text-align: left;
  text-decoration: none;
}

.log ol{
  list-style: decimal;
  display: flex;
  flex-direction: column-reverse;
}

.log button{
  margin-bottom: 20px;
}
.collapsible{
  padding: 4px 6px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #333;
  font-size: 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-size: 16px;
  color: #c9cacc;
  text-align: left;
  line-height: 27px;
}

.collapsible:hover{
  background-color: #555;
}

.collapsible_content{
  display: none;
  text-align: left;
  font-size: 16px;
}

.footer{
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  margin-top: 30px;
  padding-top: 10px;
}

.footer a{
  text-decoration: none;
  color: #2bbc8a;
}

.footer_text{
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  display: block;
  font-size: 15px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  color: #c9cacc;
  width: 650px;
  height: 40px;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 8px;
}

#cc{
  width: 40px;
  display: flex;
}

#beaker{
  width: 40px;
  margin-top: 10px;
  margin-left: 3px
}

#git{
  width: 36px;
  margin-top: 10px;
  margin-left: 10px;
}

#neo{
   width: 47px;
   margin-top: 12px;
   margin-left: 12px;
}

#c{
  display: block;
  width:500px;
  height:500px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 10px;
  margin-top:10px;
}
 #models_show {
   display: block;
   width:500px;
   height:500px;
   margin-left: auto;
   margin-right:auto;
   margin-bottom: 10px;
   margin-top:10px;
}

#answer{
  visibility: hidden;
}

#quiz{
  visibility: hidden;
}

#show_answer{
  visibility: hidden;
}

button{
  font-family: "Menlo", "Meslo LG", monospace;
  font-size: 16px;
  text-align: center;
  color: #c9cacc;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 8px;
}

select{
  font-family: "Menlo", "Meslo LG", monospace;
  font-size: 16px;
  text-align: center;
  color: #c9cacc;
  background-color: #333;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 8px;
}
button:hover{
  background-color: #666;
}

@media screen and (max-width: 650px){

  .about{
    text-align: center;
  }
  .nav .about a{
    font-size: 20px;
  }
  .head_grid{
    grid-template-columns: auto;
    text-align: center;
  }
  .head{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .section{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
  }
  .section .articles .article ul{
    list-style: none;
    padding-left: 0;
  }
  .section .articles .article figure{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .nav{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
  }
  #models_show{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    display: block;
      }
  .nav {
    font-size: 16px;
  }
  .nav a{
    font-size: 16px;
  }
  .nav h1 a{
    font-size: 22px;
    text-align: center;
  }
  .nav_row{
    border-bottom: 0.5px solid #555;
    border-top: 0.5px solid #555;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .nav_row2{
    justify-content: left;

  }
  .pagination a{
    font-size: 14px;
  }
  .section b{
    font-size: 16px;
  }
  .section img{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .section canvas{
    width: 97%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background: gray;
  }
  .link_dump img{
    width: 22px;
    vertical-align: -5px;
  }
  .footer{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer_text{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
}
