html {
  border-top: 2px solid #c9cacc;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


body {

  color: #c9cacc;
  background-color: #1d1f21;
  font-family: "Menlo", "Meslo LG", monospace;
  font-weight: 400;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1{
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.head a{
  text-decoration: none;
  color: #2bbc8a;
  text-align: center;
}

.head a:hover{
  color: #ffc107;
  text-decoration:line-through;

}

.head{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}

.head_col{
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.head_row{
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}



#icon{
  width: 150px;
  height: 150px;
  padding: 5px;
  margin-top: 10px;
}

#title a{
  text-decoration: none;
  font-size: 50px;
  color: white;
  text-align: center;
}
#title a:hover{
  color: #ffc107;
}

.section{
  color: white;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  margin-top: 30px;
}
.section table{
  margin-left: 25px;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;

}
.section td{
  font-size: 18px;
  text-align:justify;
  vertical-align: middle;
  color: whitesmoke;
}
.section a{
  text-decoration: none;
  color: #2bbc8a;
  font-size: 18px;
}
.about a{
  text-decoration: underline;
  font-size: 20px;
  color: whitesmoke;
  text-align: left;
}
.about {
  font-size: 20px;
  position: relative;
  margin-top: 2rem;
  color: whitesmoke;
  display: block;
  text-align: left;
  text-decoration: none;
}
.section td a:hover{
  color: white;
}
.section ul{
  list-style: none;
}
.section ol a:hover{
  list-style: none;
  color: white;
}
.section ol{
  list-style-type: disclosure-closed;
}
.section img{
  width: 475px;
}
.section time{
  font-size: 18px;
  color: #6e6e6e;
  vertical-align: baseline;
}
.section h1 a{
  text-decoration: none;
  font-size: 25px;
  position: relative;
  margin-top: 2rem;
  color: #2bbc8a;
  display: block;
  text-align: left;

}

.section b{
  color: #2bbc8a;
  font-size: 18px
}
.section h1 a:hover{

  color: white;
}
.section h2{
  font-size: 20px;
  margin-top: 2rem;
  color: #2bbc8a;
  display: block;
  text-align: left;
}

.section canvas{
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.browser a{
  text-align: center;
  color: #c9cacc;
  font-size: 16px;
  text-decoration: none;
  background-color: #333;
  padding: 4px 4px;
  border-radius: 5px;
}

.browser a:hover {
  background-color: #666;
  text-decoration: none;
  color: inherit;
}
.pagination {
  display: block;
  text-align: center;
  color: #c9cacc;
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.pagination a {
  color: #eee;
  padding: 4px 6px;
  text-decoration: none;
  border-radius: 5px;
  background-color: #333;
  font-size: 15px;
}
.pagination a:hover {
  background-color: #666;

}
.articles{
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  align-content: flex-start;
  font-size: 16px;
  color: whitesmoke;
  text-align: left;
}

.article h2{

}

.article a{
  color: inherit;
  text-decoration: underline;
  font-size: inherit;
}
.footer{
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  height: 40px;
  align-items: center;
  margin-top: 30px;
  padding-top: 10px;
}

.footer a{
  text-decoration: none;
  color: #2bbc8a;
}

.footer_text{
  margin-left: auto;
  margin-right: auto;
  flex-wrap: nowrap;
  display: block;
  font-size: 15px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: center;
  color: #c9cacc;
  width: 650px;
  height: 40px;
  align-items: center;
  margin-bottom: 15px;
  padding-top: 8px;
}

#cc{
  width: 40px;
  display: flex;
}

#beaker{
  width: 40px;
  margin-top: 10px;
  margin-left: 3px
}

#git{
  width: 36px;
  margin-top: 10px;
  margin-left: 10px;
}

#neo{
   width: 47px;
   margin-top: 12px;
   margin-left: 12px;
}

#c{
  display: block;
  width:500px;
  height:500px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 10px;
  margin-top:10px;
}
 #models_show {
   display: block;
   width:500px;
   height:500px;
   margin-left: auto;
   margin-right:auto;
   margin-bottom: 10px;
   margin-top:10px;
}

@media screen and (max-width: 650px){

  .head_row{
    flex-flow: column;

    text-align: center;
  }
  .head{
    display: block;
    font-size: 20px;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .section{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    overflow: visible;
  }
  .section time{
    font-size: 16px;

  }

  .section td a{
    font-size: 16px;
  }
  .section b{
    font-size: 16px;
  }
  .section img{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .section canvas{
    width: 97%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer_text{
    width: 97%;
    margin-left: auto;
    margin-right: auto;
  }

}
